@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;	
}

h1 {
    font-family: Bebas Neue;
    letter-spacing: 2px;
    color: #2F9387;
    font-size: 2.5rem;
    line-height: 1;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
    text-align: center;
}

p {
    line-height: 1.5;
}

p, h4 {
    font-size: 1rem;
}

p, h2, h3, h4, a {
	color: #131515;
	font-family: inter;
	text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* Header */

header {
    display: flex;    
    padding: 16px 1rem;
    justify-content: space-between;
}

#closed, #opened {
    background-color: #FFFFFF;
}

#closed:hover, #opened:hover {
    cursor: pointer;
}

#closed i, #opened i {    
    color: #131515;
    font-size: 1.5rem;
}

.desktop-menu {
    display: none;
}

/* Mobile menu */

.mobile-menu {
    display: none;
    list-style-type: none;
    width: 100%;
    background-color: #257067;
    width: 100%;
}

.mobile-menu li {
    padding: 16px 1rem;
    background-color: #2F9387;  
}

.mobile-menu li:hover {
    cursor: pointer;
    background-color: #297D73;
}

.mobile-menu li a {
    color: #FFFFFF;
}

#closed {
    display: block;
}

#opened {
    display: none;
}

/* Mobile introduction */

.mobile-introduction {
    padding: 16px 1rem;    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    gap: 16px;
}

.contact-button {
    display: block;
    background-color: #2F9387;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 12px 0;
    font-size: 1rem;
    text-align: center;
    width: 100%;    
}

.contact-button:hover {
    cursor: pointer;
    background-color: #297D73;
}

/* Desktop introduction */

.desktop-introduction {
    display: none;
}

/* Container */

.container {
    padding: 16px 1rem;    
    display: flex;
    flex-direction: column;    
    gap: 16px;
}

/* Services section */

.services {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr;
    gap: 16px;
}

.services div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Reviews */

.reviews {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
}

.review {
    background-color: #B8E6E1;
    padding: 8px 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.review h3 {
    font-size: 1.5rem;
}

/* Contact */

.contact-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-message {
    background-color: #B8E6E1;
    padding: 8px 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact .image {
    display: none;
}

.contact form {    
    font-family: inter;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact form div {    
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contact form input, .contact form textarea {
    border: 1px solid #9D9D9D;
    padding: 8px 0.5rem;
}

.contact .contact-button {
    padding: 12px 0;
    width: 100%;
}

/* Footer */

footer {
    background-color: #2F9387;
    padding: 16px 1rem;    
}

.footer-content {
    display: flex;    
    flex-direction: column;     
    gap: 16px;    
}

.group-1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.group-1 .name {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.group-1 .name h2 {
    color: #FFFFFF;
    font-family: Bebas Neue;
    letter-spacing: 2px;   
    font-size: 2.5rem;
    line-height: 1;
    text-align: left;    
}

.group-1 .name p {
    color: #FFFFFF;
}

.group-1 .social-media ul {
    list-style-type: none;    
    display: flex;
    gap: 4rem;
}

.group-1 .social-media ul li a {
    color: #FFFFFF;
    font-size: 1rem;
}

.group-2 {
    display: flex;
    gap: 9rem;
}

.group-2 .left, .group-2 .right {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.group-2 a {
    color: #FFFFFF;
}

@media screen and (min-width: 576px) {
    /* Header */

    header {            
        padding: 16px 1.5rem;        
    }   

    .mobile-menu li {
        padding: 16px 1.5rem;        
    }

    /* Mobile introduction */

    .mobile-introduction {
        padding: 16px 1.5rem;        
    }

    /* Container */

    .container {
        padding: 16px 1.5rem;    
    }

    /* Footer */

    footer {
        background-color: #2F9387;
        padding: 16px 1.5rem;    
    }

}

@media screen and (min-width: 768px) {

    /* Header */

    header {        
        padding: 24px 1.5rem;            
    }

    .desktop-menu {
        display: block;                    
    }

    .desktop-menu ul {
        list-style-type: none;
        display: flex;
        gap: 2rem;
    }

    .desktop-menu ul li a:hover {
        text-decoration-line: underline;        
        text-decoration-color: #131515;
        text-underline-offset: 8px;
    }

    #closed, #opened {
        display: none;
    }

    .active {
        text-decoration-line: underline;        
        text-decoration-color: #131515;
        text-underline-offset: 8px;
    }

    /* Mobile introduction */

    .mobile-introduction {
        display: none;
    }

    /* Desktop introduction */

    .desktop-introduction {
        display: flex;
        justify-content: space-between;
        padding: 24px 1.5rem;            
    }
  
    .desktop-introduction .left-side {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .desktop-introduction .right-side {
        width: 47%;
    }

    .desktop-introduction .left-side h2 {
        text-align: left;
    }

    .desktop-introduction .contact-button {
        width: 90%;
    }

   /* Container */

    .container {
        padding: 24px 1.5rem;                   
        gap: 24px;
    }

    /* Services section */

    .services {        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1.5rem;       
    }

    /* Reviews */

    .reviews {        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1.5rem;
    }

    /* Contact */

    .contact-section {
        gap: 24px;
    }

    .contact {        
        flex-direction: row;
        justify-content: space-between;
    }

    .contact .image {
        display: block;
        width: 48%;
    }

    .contact-form {
        width: 48%;        
    }

    .contact-form form {
        width: 100%;
    }

    .contact-form form textarea {
        min-height: 100px;
    }
    
    /* Footer */

    footer {        
        padding: 24px 1.5rem;    
    }

    .footer-content {
        display: flex;    
        flex-direction: row;     
        justify-content: space-between;   
    }

    .group-2 .left, .group-2 .right {    
        gap: 24px;
    }

}

@media screen and (min-width: 1000px) {
    /* Header */

    header {        
        padding: 24px 2rem 32px 2rem;            
    }

    /* Desktop introduction */

    .desktop-introduction {       
        padding: 24px 2rem;            
    }

    .desktop-introduction .left-side {        
        gap: 32px;      
    }

    .desktop-introduction .contact-button {
        width: 80%;
    }

   /* Container */

    .container {
        padding: 24px 2rem;       
    }

    /* Services section */

    .services {        
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;          
    }

    /* Reviews */

    .reviews {        
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;       
    }

    /* Contact */

      .contact-form form textarea {
        min-height: 200px;
    }

    /* Footer */

    footer {        
        padding: 24px 2rem;    
    }

}

@media screen and (min-width: 1200px) {

    /* Header */

    header {        
        padding: 24px 11rem 40px 11rem;            
    }

    /* Desktop introduction */

    .desktop-introduction {       
        padding: 24px 11rem;            
    }

    
    .desktop-introduction .left-side {        
        gap: 40px;
        width: 24%;         
    }

    .desktop-introduction .left-side h2 {
        font-size: 3rem;
    }

    .desktop-introduction .left-side .contact-button {        
        margin: 40px 0 0 0;
        width: 90%;
    }

      .desktop-introduction .left-side { 
        width: 50%;      
    }

     /* Container */

    .container {
        padding: 24px 11rem;       
    }

    /* Footer */

    footer {        
        padding: 24px 11rem;    
    }

    
}

