@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;	
}

h1 {
    font-family: Bebas Neue;
    color: #2F9387;
}

p, h2, h3, a {
	color: #131515;
	font-family: inter;
	text-decoration: none;
}

/* Header */

header {
    display: flex;    
    padding: 16px 1rem;
    justify-content: space-between;
}

#closed, #opened {
    background-color: #FFFFFF;
}

#closed i, #opened i {    
    color: #131515;
    font-size: 1.25rem;
}

.mobile-menu {
    display: none;
    list-style-type: none;
    width: 100%;
    background-color: #257067;
    width: 100%;
}

.mobile-menu li {
    padding: 16px 1rem;
    background-color: #2F9387;  
}

.mobile-menu li:hover {
    cursor: pointer;
    background-color: #297D73;;
}

.mobile-menu li a {
    color: #FFFFFF;
}

#closed {
    display: block;
}

#opened {
    display: none;
}

